.footer{
    display:block;
    height: 60px;
    background-color: rgb(84, 138, 238);
    bottom: 0%;
    width: 100%;
    position:absolute;
   
    
}

.footer a{
    color:"white";
    display: block;
    width:100%;
    align-items: center;
    padding:20px;
    text-align: center;
 }
 
    .footer a {
        float: left;
        color: rgb(18, 206, 231);
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 20px; 
        line-height: 25px;
        border-radius: 4px;
 }
